html {
	font-family: 'Open Sans', sans-serif;
}

#sink {
	background-color: #FFFFFF;
}

h1#title,
h2#subtitle {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center
}

h1#title {
	font-size: 5em;
}

h2#subtitle {
	font-size: 4em;
}